In [382]:
import pandas as pd
import warnings
import pickle
from sklearn.preprocessing import StandardScaler


warnings.filterwarnings("ignore")

df = pd.read_csv("dataset.csv")


random_input = df.iloc[[34]]
random_input

# random_input.to_dict()
df = pd.concat([df, pd.DataFrame(random_input)])
# print(random_input)
new_index = list(df.index)
new_index[-1] = len(new_index)
df.index=new_index
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2
1471,24,Yes,Travel_Rarely,813,Research & Development,1,3,Medical,1,45,...,1,80,1,6,2,2,2,0,2,0

In [383]:

cat_cols = [
    "Attrition",
    "BusinessTravel",
    "Department",
    "Education",
    "EducationField",
    "EmployeeCount",
    "EnvironmentSatisfaction",
    "Gender",
    "JobInvolvement",
    "JobLevel",
    "JobRole",
    "JobSatisfaction",
    "MaritalStatus",
    "Over18",
    "OverTime",
    "PerformanceRating",
    "RelationshipSatisfaction",
    "StandardHours",
    "StockOptionLevel",
    "WorkLifeBalance",
]

for i in df[cat_cols]:
    if i == "Attrition":
        continue
    df[i] = pd.Categorical(df[i])

df.drop("EmployeeNumber", axis=1, inplace=True)

In [384]:

vars_rm = [
    "Education",
    "EmployeeCount",
    "Gender",
    "Over18",
    "PerformanceRating",
    "RelationshipSatisfaction",
    "StandardHours",
]

df = df.loc[:, df.columns != "Attrition"]
df.drop(df[vars_rm], axis=1, inplace=True)

In [385]:

dummy_cols = [
    "OverTime",
    "JobRole",
    "JobLevel",
    "StockOptionLevel",
    "MaritalStatus",
    "JobInvolvement",
    "BusinessTravel",
    "EnvironmentSatisfaction",
    "JobSatisfaction",
    "WorkLifeBalance",
    "Department",
    "EducationField",
]


df = pd.get_dummies(df, columns=dummy_cols, drop_first=True)
df.columns = df.columns.str.replace(" ", "")

In [386]:
scaler = StandardScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [387]:

rf_cv = None
with open('model.pkl', 'rb') as file:
    rf_cv = pickle.load(file)

predicted_row = df.iloc[-1].values.reshape(1, -1)  # Изменение формы для предсказания
prediction = rf_cv.predict(predicted_row)


# print(predicted_row)
print(prediction)

[1]